{% extends "base.html" %}
{% block content %}
<div class="container py-5 text-center">
    <h2 class="mb-5" style="color: #718355;">Café Gallery</h2>
    <div class="row g-3">
        <div class="col-4"><img src="https://images.unsplash.com/photo-1536250853075-e8504ee040b9" class="img-fluid rounded shadow-sm"></div>
        <div class="col-4"><img src="https://images.unsplash.com/photo-1545331506-62062d50100f" class="img-fluid rounded shadow-sm"></div>
        <div class="col-4"><img src="https://images.unsplash.com/photo-1571934811356-5cc061b6821f" class="img-fluid rounded shadow-sm"></div>
    </div>
</div>
{% endblock %}